<style>

.footer{
    position: fixed;
    bottom: 0;
    background-color: #000;
    color: white; 
    width: 100%;
    padding: 0;
    margin: 0;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style

<div class="row footer">
    <div class="container d-flex">
        <div class="col-6 d-flex justify-content-start">
        
            <span>
                شماره تلفن پشتیبانی: 09941793872
            </span>

        </div>
    
        <div class="col-6 d-flex justify-content-end">
            <span>
                 ایمیل پشتیبانی:
                <a href="/" style="text-decoration: none;  color: white ;" >
                    test@gmail.com
                </a>
            </span>
        </div>
    </div>
</div>